@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0rem;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

#body-wrapper {
  padding-bottom: 4.0em;
  padding-left: 2em;

  width: 100%;
}

#tmux-pane {
  max-height: calc(100vh - 2em);
  height: calc(100vh - 2em);
  width: 24rem;
  padding-bottom: 1.0em;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-shrink: 0;

  resize: horizontal;

  position: sticky;
  top: 0em;
}

@media only screen and (max-width: 699px) {
  #tmux-pane {
    max-width: 0px;
  }

  #body-wrapper {
    padding-left: 0px;
  }
}

body {
  font-family: "Ubuntu Mono", monospace;
  background-color: #32302f;
  color: #ebdbb2;
}

div.main-window {
  padding-top: 1.2em;
  padding-left: 0.3em;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #84A87F;
}

div.title {
  margin: 0.1em;
}

div.title > p{
  size: 2000%;
}

div.main-sentences {
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

pre {
  font-size: 16px;
  word-spacing: 1px;
  font-family: "Ubuntu Mono", monospace;
  background-color: #32302f;
  color: #ebdbb2;
}
